Package: com.thatmarcel.tweaks.lyrication
Name: Lyrication
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 2.0.2
Architecture: iphoneos-arm
Description: Live Lyrics for music
Maintainer: Marcel Braun
Author: Marcel Braun
Section: Tweaks
