<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes require a respring. Regardless of this setting, you can open the lyrics by long-pressing the artwork view</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show button on lockscreen</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>showonlockscreen</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes may require a restart of Spotify. When the expand button is disabled, the expanded view can be opened by long-pressing the lyrics card view</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show inside Spotify</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>showinsidespotify</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show expand button in Spotify</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>showexpandbuttoninspotify</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes require a respring</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show lyrics overlay</string>
			<key>default</key>
			<false />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>showlyricsoverlay</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Expanded view</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable text blur</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewlineblurenabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Always show close button</string>
			<key>default</key>
			<false />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewshowclosebutton</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use centered text style</string>
			<key>default</key>
			<false />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewcenterstyle</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show song name</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewshowsongname</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show song artist</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewshowsongartist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show fadeout gradient</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewfadeoutgradient</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Synced lyrics</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewsynced</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Expanded view font scale</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.2</real>
			<key>max</key>
			<real>2</real>
			<key>default</key>
			<real>1</real>
			<key>segmentCount</key>
			<real>18</real>
			<key>isSegmented</key>
			<true />
			<key>showValue</key>
			<true />
			<key>defaults</key>
			<string>com.thatmarcel.tweaks.lyrication.hbprefs</string>
			<key>key</key>
			<string>expandedviewfontsizemultiplier</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>

		<dict>
    		<key>cellClass</key>
    		<string>HBTwitterCell</string>
    		<key>label</key>
    		<string>Marcel Braun</string>
    		<key>user</key>
    		<string>thatmarcelbraun</string>
		</dict>
	</array>
	<key>title</key>
	<string>Lyrication</string>
</dict>
</plist>